<% @chat_gpt_results.each do |history| %>
    <div class="container">
        <div class="container__primary">
          <div class="container_primary_maincontainer">
            <div class="container_primary_img">
                <%= image_tag("chat_gpt.jpeg") %>
            </div>
            <div class="container_primary_text">
              <p><%= history.search_text %></p>
            </div>
          </div>
        </div>
        <div class="container__primary">
          <div class="container_primary_subcontainer">
            <div class="container_primary_img">
              <%= image_tag("user.jpeg") %>
            </div>
            <div class="container_primary_text">
              <%= history.search_result.html_safe %>
            </div>
          </div>
        </div>
    </div>
<% end %>
<form action="/chat_gpt" method ="post" style="padding: 10px; background: #e5e5e5;">
  <div class="form-group">
    <label for="exampleFormControlInput1">Search Input</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Search" name="search">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<%# 
<div class="button">
    <% link_to "", new_todo_path %> do 
        <button type="button" class="btn btn-primary">Clear History</button>
    <% end %>
</div> %>