/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container {
    display: flex;
    flex-direction: column;
  }
  .container__primary {
    background-color: #ffffff;
  }
  .container_primary_maincontainer {
    width: auto;
    display: flex;
    align-items: center;
    height: auto;
    padding: 2.2rem;
  }
  .container_primary_img > img {
    height: 2rem;
    width: 2rem;
    object-fit: cover;
  }
  .container_primary_text {
    color: #60616a;
    margin-left: 1.5rem;
    width: 92%;
    text-align: justify;
  }
  .container_primary_subcontainer {
    width: auto;
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    background-color: #f7f7f8;
    align-items: center;
    height: auto;
    padding: 2.2rem;
  }
.input_box{
    margin-top: 20px;

}
.input_form{
    padding: 10px;
}

